
<style>
body {
    font-family: 'Roboto', sans-serif;

}
  .container {
    /*float: center;*/
    background-color:  #fafafa;
    padding: 20px;
    margin: 10%;
  }
  .field {
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*float: left;*/
    clear: both;
  }

  #dhac {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 150;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*float: left;*/
    clear: both;
  }

  #title {
    font-size: 20px;
    font-weight: 300;
    width: 300px;
    height: 40px;

  }
  #title {
    border: 1px solid #ededed;
  }
  #save {
    color: #ffffff ;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-left: 16px;
    padding-right: 16px ;
    height: 36px;
    background-color: #2196F3 ;
    background-image: none;
    border: 0px #fff solid ;
    border-radius: 2px ;
  } 
  a {
    text-decoration: underline;
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
</style>
<%= render "layouts/header" %>

<div class="container">

<h1 class="field">Log in</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, id: "title" %>
  </div>
  
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password , id: "title" %>

  </div>

  <div class="field" >
    <%= f.submit "Log in", id: "save" %>
  </div>
<% end %>
<p id="dhac">Don't have an account yet? Register as <%= link_to 'employee', register_path %> or <%= link_to 'employer', new_employer_path %></p>
</div>