
<style>
  p {
    margin: 5px;
  }
  .container {
    margin: 20px;
    margin-top: 55px;
  }
  .profile {
    float: left;
    margin-top:65px;
  }
  .jobs {
    margin-top: 20px;
    margin-bottom: 20px;

    clear: both;
  }

  #job {
    background-color: white;
    margin-bottom: 10px;
    font-size: 23px;
    height: 80px;

  }

  #job1 {
    background-color: #f2f2f2;
    font-size: 20px;
    margin-bottom: 10px;
  }

  #title {
    padding: 8px;
    display:block;
  }

  #header{
    padding-top: 10px;
    font-size: 27px;
  }

  .btn {
    color: #ffffff ;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-left: 16px;
    padding-right: 16px ;
    height: 36px;
    background-color: #2196F3 ;
    background-image: none;
    border: 0px #fff solid ;
    border-radius: 2px ;
  }

  .button_to, .yj {
    display: inline;
  }

  #save2 {
    color: #ffffff ;
    margin-bottom: 11px;
    margin-left: 10px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    padding-left: 16px;
    padding-right: 16px ;
    height: 36px;
    background-color: #2196F3 ;
    background-image: none;
    border: 0px #fff solid ;
    border-radius: 2px ;
  }
  
  h1, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  #prof1 {
   margin-left: 45px;
   margin-top:65px;
   padding: 10px;
 }
 a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a {
  color: inherit;
} 
@media screen and (max-width: 1015px) {
  .container {
    margin-top: 90px;
  }
  #prof1 {
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
  }
}

@media screen and (min-width: 515px) {
  #prof1 {

    margin-top: 65px;
  }
}
</style>
<%= render "layouts/header" %>

<div class="container">

  <div class="profile">
    <% if (@employer.photo != '') %>
    <img src="<%= @employer.photo %>" width="200" height="200" alt="">
    <% else %>
    <img src="https://securemedia.newjobs.com/ntwk/user-icon-200x200.jpg" alt="">
    <% end %>
    <p><%= @employer.full_name %></p>
    <p><%= @employer.email %></p>
    <p><%= @employer.location %></p>
  </div>

  <div class="profile" id="prof1">
    <h1>Your Work Profile</h1>
    <p><%= @employer.full_name %></p>
    <% if (session[:employer_id] == @employer.id) %>
      <p><%= link_to 'Logout', logout_path, method: :delete %></p> 
    <% end %>
  </div>



  <div class="jobs">
   <h1 id="header">Applications</h1>
  </div>
     <% if @applicantions != [] %>
    <div class="jobs">
      <div id="job1" style="float: left; width: 87%; "><p>title</p></div> 
      <div id="job1" style="float: right; width: 12%; "><p>appr.</p></div>
      <% @applicantions.each do |t, v, e| %>
      <div id="job" style="float: left; clear: both;">
        <p><%= link_to t.title, job_path(t.id) %> by <%= link_to e.email, employee_path(e.id) %></p>
      </div>
      <% if v == false %>
        <div id="job" style="float: right; width: 12%; ">
          <p><%= button_to "approve", approve_path(t.id), class: "btn" %></p> 
        </div>
      <% else %>
      <div id="job" style="float: right; width: 12%; ">
        <p> <%= button_to "disapprove", disapprove_path(t.id), class: "btn"  %></p> 
      </div>
      <% end %>
    <% end %>

     </div>
  <% else %>
    <p style="margin:20px; margin-left: 0px;">You don't have any applications yet</p>
  <% end %>
  <div class="jobs" style="margin-bottom: 10px;">
    <h1 id="header" class="yj">Jobs</h1>
    <% if (session[:employer_id] == @employer.id) %>
      <%= button_to "Create New", new_job_path, method: :get, id: "save2" %>
    <% end %>
  </div>

  <div class="jobs">
    
    <% if @your_jobs != [] %>

      <% if (session[:employer_id] == @employer.id) %>
      
      <div id="job1" style="float: left; width: 87%; "><p>title</p></div> 

      <div id="job1" style="float: right; width: 12%; "><p>del.</p></div>
        <% @your_jobs.each do |j| %>
        <div id="job" style="float: left; clear: both;">
          <p>
            <%= link_to j.title, job_path(j.id), id: "title" %>
          </p>
        </div>
        <div id="job" style="float: right; width: 12%; ">
          <p>
            <%= link_to "del", job_path(j.id) , method: :delete, id: "title2" %>
          </p>  
        </div> 
        <% end %>

      <% else %>

      <div id="job1" style="float: left; width: 100%; "><p>title</p></div> 

        <% @your_jobs.each do |j| %>
        <div id="job" style="float: left; clear: both;">
          <p>
            <%= link_to j.title, job_path(j.id), id: "title" %>
          </p>
        </div>
        
        <% end %>

       <% end %>
    <% end %>

    
    </div>

</div>
