<style>
  #t1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 200px;
    height: 30px;
    margin: 5px;
  }
  #t1 {
    padding: 3px;
    border: 1px solid #2196F3;
  }

  .img {
    object-fit: cover;
    vertical-align: middle;
    margin-left: 10px;
    right: 0;
    border-radius: 50%;
    border: 1px solid #2196F3;
  }
  #job_type {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    width: 160px;
    height: 30px;
    overflow: hidden;
    border: 1px solid #2196F3;
    
  }
  #job_type select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
  }

  #save1 {
    color: #ffffff ;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    padding-left: 16px;
    padding-right: 16px ;
    height: 36px;
    background-color: #2196F3 ;
    background-image: none;
    border: 0px #fff solid ;
    border-radius: 2px ;
  }
  .cont {
    position:fixed;
    top:0;
    right: 0;
    left: 0;
    width:100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(248, 248, 248);
  }
  #cont {
    margin-top:100px;
  }

</style>
<div class="cont">
  <form action="" method="POST">

    <input value="<%= params[:name] %>" name="search[]" type="text" id="t1" placeholder="position">

    <input value="<%= params[:location] %>" name="search[]" type="text" id="t1" placeholder="location">

    <select name="search[]" id="job_type">
    <%= ['Full-time', 'Part-time', 'Internship', 'Student', 'Temporary'].each do |f| %>
      <% if (params[:type] == f) %>
        <option value="<%= f %>" selected><%= f %></option>
      <% else %>
        <option value="<%= f %>"><%= f %></option>
      <% end %>
    <% end %>
    </select>

    <select name="search[]" id="job_type">
    <%= ['Today', 'Yesterday', 'Last 7 days', 'Last 14 days', 'Last month'].each do |f| %>
      <% if (params[:time] == f) %>
        <option value="<%= f %>" selected><%= f %></option>
      <% else %>
        <option value="<%= f %>"><%= f %></option>
      <% end %>
    <% end %>
    </select>
  
    <input value="Find" type="submit" id="save1">

    <% if (logged_in?) %>
      <% if (current_employee != nil) %>
        <a href="<%= employee_path(current_employee) %>"><img src="<%= current_employee.photo %>" alt="" width="33" height="33" class="img"></a>
      <% elsif (current_employer != nil) %>
        <span></span>
        <a href="<%= employer_path(current_employer) %>"><img src="<%= current_employer.photo %>" alt="" width="33" height="33" class="img"></a>
      <% end %>
    <% end %>
  </form>
</div>